/* top navigation */
#navigation {
  display: block;
  height: 35px;
}
 
#navigation ul { 
	list-style: none; 
	padding: 0px 7px; 
}
 
#navigation ul li { 
	display: inline; float: left; 
}

#navigation ul li a, #navigation ul li p{ 
  display: block; 
  padding: 0 8px; 
  font-size: 1.1em;
  text-decoration: none;
  line-height: 35px; 
  font-weight: bold; 
  margin-right: 6px;
}

.no-files{
    color: #ff0000; 
}

#navigation ul li a:hover { 
	color: #a8d6e7; 
}

/* Headers */
div.page-header{
  margin: 0px 0 20px;
}

h2.smaller{
    font-size: 1.5em;
}

/* Tables*/
table {
  box-shadow: 2px 2px 2px #888888;
  border:1px solid #000000;
  margin: 10px;
}


table tr:nth-child(odd){ background-color:#eee4ff; }
table tr:nth-child(even){ background-color:#ffffff; }

table td, table th{
  vertical-align:middle;
  border:1px solid #000000;
  border-width:1px;
  padding:3px;
}

table thead tr th { background-color:#bbc0ff; }


/* problem metadata */
.proposed{
    font-size: 1.15em;
}

#footer {
  border-top:1px solid #000000;
  padding:3px
}