/* top navigation */
#navigation {
  display: block;
  height: 35px;
}
 
#navigation ul { 
	list-style: none; 
	padding: 0px 7px; 
}
 
#navigation ul li { 
	display: inline; float: left; 
}

#navigation ul li a, #navigation ul li p{ 
  display: block; 
  padding: 0 8px; 
  font-size: 1.1em;
  text-decoration: none;
  line-height: 35px; 
  font-weight: bold; 
  margin-right: 6px;
}

#navigation ul li a:hover { 
	color: #a8d6e7; 
}