{% set title = "Problems by Category" %}
{% extends "wrapper.html" %}

{% block breadcrumb %}
  {{ super() }}
  <li><a href="{{prefix_path}}/Problems/categories.html">Categories</a></li>
{% endblock %}


{% block mainContent %}

{% for name, probs in categories | dictsort %}
    <h2 class='smaller'>{{name}}</h2>

	<table class='tablesorter'>
	<thead>
		<tr>  <th>Id</th> <th>Title</th>  </tr>
	</thead>
	<tbody>
	{% for prob in probs | sort(case_sensitive=False, attribute='meta_title') %}
	<tr>
		<td>
			<a href="{{ prob.metadata['id'] | join('') }}">
				{{ prob.metadata['id'] | join('') }}
			</a>
		</td>
		<td>
			{{ prob.metadata['title'] | join('') }}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>


{% endfor %}

{% endblock %}
