{% set title = "Problems in Numerical Order" %}
{% extends "wrapper.html" %}

{% block breadcrumb %}
  {{ super() }}
  <li><a href="{{prefix_path}}/Problems">Problems</a></li>
{% endblock %}

{% block headerContent %}

<header class="nav2-header">
<div class="nav2-container">
  <nav class="nav2">
  <ul>
    <li><a href="{{prefix_path}}/Problems.bib" >BibTeX</a></li>
    <li><a href="{{prefix_path}}/Problems.json" >Json</a></li>
  </ul>
  </nav>
</div>
</header>

{% endblock %}


{% block mainContent %}

<table class='tablesorter'>
<thead>
	<tr>  <th>Id</th> <th>Title</th>  </tr>
</thead>
<tbody>
{% for prob in problems %}
<tr>
	<td>
		<a href="{{ prob.metadata['id'] | join('') }}">
			{{ prob.metadata['id'] | join('') }}
		</a>
	</td>
	<td>
		{{ prob.metadata['title'] | join('') }}
	</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
