{% set title = "Problems by each Author" %}
{% extends "wrapper.html" %}

{% block breadcrumb %}
  {{ super() }}
  <li><a href="{{prefix_path}}/authors.html">Authors</a></li>
{% endblock %}


{% block mainContent %}

{% for name, probs in authors | dictsort %}
    <h2 class='smaller'>{{name}}</h2>

	{% for prob in probs | sort %}
		<p>
			<a href="{{ prob.prob_meta["prob_base"] }}">
				{{ prob.metadata['id'] | join('') }}
			</a>:
			{{ prob.metadata['title'] | join('') }}
		</p>
	{% endfor %}

{% endfor %}

{% endblock %}
