{% set title = "Problems by Category" %}
{% extends "wrapper.html" %}

{% block breadcrumb %}
  {{ super() }}
  <li><a href="/Problems/categories.html">Categories</a></li>
{% endblock %}


{% block mainContent %}

{% for name, probs in categories.items() %}
    <h2 class='smaller'>{{name}}</h2>

	{% for prob in probs %}
		<p>
			<a href="prob{{ prob.metadata['id'] | join('') }}">
				prob{{ prob.metadata['id'] | join('') }}
			</a>:
			{{ prob.metadata['title'] | join('') }}
		</p>
	{% endfor %}

{% endfor %}

{% endblock %}

