{% set title = "CSPlib: A problem library for constraints" %}
{% extends "wrapper.html" %}

{% block mainContent %}

<h2>Overview</h2>

<p> CSPLib is a library of test problems for constraint solvers. The library consists of: </p>

<ul>
    <li>Problems organised by <a href="/Problems/categories.html">subject area</a> and <a href="/Problems">problem number</a></li>
</ul>

<p>
The main motivation for CSPLib is to focus research in constraints away from purely random problems and onto more structured problems.
</p>

<p>
We currently have {{ num_problems }} problems in {{ num_categories }} categories proposed by {{num_authors}} <a href="/authors.html">authors</a>.
</p>


<p>
	The Essence specification of each problem can also be downloaded as a <a href="/essences.zip">zip file</a>
</p>

{% endblock %}
