{% set title = "CSPlib: A problem library for constraints" %}
{% extends "wrapper.html" %}

{% block mainContent %}

<h2>Overview</h2>

<p> CSPLib is a library of test problems for constraint solvers. The library consists of: </p>

<ul>
    <li>Problems organised by <a href="/Problems/categories.html">subject area</a> and <a href="/Problems">problem number</a></li>
</ul>

<p>
The main motivation for CSPLib is to focus research in constraints away from purely random problems and onto more structured problems.
</p>

<p>
We currently have {{ num_problems }} problems in {{ num_categories }} <a href="/Problems/categories.html">categories</a> proposed by {{num_authors}} <a href="/authors.html">authors</a>.
</p>

<p>Please submit any updates or corrections to CSPLib to our <a href="http://www.github.com/github/github">git repository</a>, either as an <a href="https://github.com/csplib/csplib/issues">new issue</a>, or <a href="https://github.com/csplib/csplib/pulls">pull request</a>.
</p>

<hr>

<p> The current editor-in-chief of csplib is <a href="http://caj.host.cs.st-andrews.ac.uk">Chris Jefferson</a>. The current website maintainers are <a href="http://bh246.host.cs.st-andrews.ac.uk">Bilal Hussain</a> and <a href="http://caj.host.cs.st-andrews.ac.uk">Chris Jefferson</a>.
</p>

<p>We are grateful to the previous editors of csplib: Ian Miguel, Brahim Hnich, Ian Gent and Toby Walsh, and all the contributors to csplib over the past 15 years.
</p>

<p>
<a href="/updates.html">Updates</a>
</p>

<!-- <p>
    The Essence specification of each problem can also be downloaded as a <a href="/essences.zip">zip file</a>
</p> -->

{% endblock %}
