<table class="tablesorter">
<thead>
<tr> <th>File</th> <th>Type</th> <th>Notes</th> </tr>
</thead>
<tbody>
{% for data in metadata %}
<tr>
	<td>
		<a href="{{ data['filename'] }}">
			{{data['name']}}
		</a>
	</td>
	<td>
		{% if data['meta']['type_link'] %}
		<a href="{{data['meta']['type_link']}}">
		{% endif %}
		{{data['meta']['type'] | join(', ')}}
		{% if data['meta']['type_link'] %}
		</a>
		{% endif %}
	</td>
	<td>
	{{data['meta']['title'] | join(' ')
	 | replace(' models/' ,' ' + prob_base + '/models/')
	 | urlize2 }}
	</td>
</tr>
{% endfor %}
</tbody>
</table>
