{% extends "wrapper.html" %}

{% block breadcrumb %}
  {{ super() }}
  <li><a href="/problems">Problems</a></li>
{% endblock %}

{% block headerContent %}

<!-- macro to Not made a link if on the page the link links to -->
{% macro make_nav_item(text, link, page_type) -%}
{% if type == page_type %}
	<li><p>{{ text }}</p></li>
	{% else %}
 	<li><a href="{{prob_base}}/{{ link }}">{{ text }}</a></li>
 	{% endif %}
{%- endmacro %}


<nav id="navigation">
<ul>
  {{ make_nav_item("Specification", "",                "specification") }}
  {{ make_nav_item("Data files",    "data",            "data_files") }}
  {{ make_nav_item("Results",       "results",         "results") }}
  {{ make_nav_item("References",    "references",      "references") }}
  {{ make_nav_item("Models",        "Models",          "models") }}
</ul>
</nav>



{% endblock %}


{% block mainContent %}

{{problemContent}}

{% endblock %}
