{% set type = 'references' %}
{% extends "problem.html" %}

{% block head %}

	<style>
	p.highlight{
		border: 1px solid;
		padding-left: 5px;
		padding-right: 1px;
	}
	</style>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>

	<script type="text/javascript">
	$( document ).ready(function() {
	  ref_id= window.location.hash.substring(1);
	  if (ref_id){
		  $('p#'+ ref_id).addClass('highlight');
	  }
	});

	</script>

{% endblock %}

{% block breadcrumb %}
  {{ super() }}
  <li><a href="{{prob_base}}/references">References</a></li>
{% endblock %}

{% block mainContent %}

{{notes}}

{% if has_bibtex %}
<p>
	<a href="{{prob_base}}/references/{{prob_name}}-refs.bib">Download bibtex</a>
</p>
{% endif %}

{{references}}

{% endblock %}
