{% set type = 'references' %}

{% extends "problem.html" %}

{% block head %}

	<style>
	p.highlight{
		border: 1px solid;
		padding-left: 5px;
		padding-right: 1px;
	}
	</style>

	<script type="text/javascript">
	$( document ).ready(function() {
		ref_id= window.location.hash.substring(1);
		if (ref_id){
		  $('p#'+ ref_id).addClass('highlight');
	 	}

		$( "a.bibref" ).on("click", function() {
			ref_id=$(this).attr("data-bibfragment")
			$( "p.bib" ).removeClass('highlight')
		 	$('p#'+ ref_id).addClass('highlight');
		});

	});

	</script>

{% endblock %}

{% block breadcrumb %}
  {{ super() }}
  <li><a href="{{prefix_path}}/{{prob_base}}/references">References</a></li>
{% endblock %}

{% block mainContent %}

{% if has_bibtex %}
<p>
	<a href="{{prefix_path}}/{{prob_base}}/references/{{prob_name}}-refs.bib">Download bibtex</a>
</p>
{% endif %}

{{notes.replace("~~PROB_BASE~~", prefix_path + "/" + prob_base) }}

{{references}}

{% endblock %}
